body {
    font-family: Open Sans, Verdana;
}

h1 {
    color: white;
    text-align: center;
    background-color: #3f7ee0;
    border-radius: 5px;
}


.content {
    max-width: 380px;
    margin: 0 auto;
}

.users {
    margin: 0 auto;
    width: 300px;
}

.users th {
    text-align: right;
}
.users th + th{
    text-align: left;
    padding-left: 82px;
}

.users td {
    text-align: right;
}
.users td + td {
    text-align: left;
    width: 160px;
    padding-left: 80px;
}

.paginator {
    margin-top: 20px;
    text-align: center;
}

.paginator a {
    display: inline-block;
    width: 25px;
    text-align: center;
    color: white;
    background-color: #5eb5e0;
    text-decoration: none;
    border-radius: 5px;
}

.paginator .active, .paginator a:hover {
    background-color: #3f7ee0;
}


/* LOGIN */

.login-form label {
    display: inline-block;
    width: 200px;
}
.login-form input {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}
.login-form button {
    color: white;
    background-color: #3f7ee0;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #5eb5e0;
}

.alert-error {
    color: red;
    margin-bottom: 20px;
}