{% extends 'base.html.twig' %}

{% block title %}Uživatelé{% endblock %}

{% block body %}

    <h1>Seznam uživatelů</h1>

    <table class="users">
        <thead>
            <tr><th>ID</th><th>Jméno</th></tr>
        </thead>
        {% for user in users %}
            <tr><td>{{ user.id }}</td><td>{{ user.username }}</td></tr>
        {% endfor %}
    </table>
    <div class="paginator">
        <a href="{{ path('users', {offset: previousPage}) }}">&laquo;</a>
        {% for page in pagination %}
            <a href="{{ path('users', {offset: page}) }}"{% if page == currentOffset %} class="active"{% endif %}>{{ page }}</a>
        {% endfor %}
        <a href="{{ path('users', {offset: nextPage}) }}">&raquo;</a>
    </div>

{% endblock %}