<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}{% if block('title') %} - {% endif %}ACME</title>
        <link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </body>
</html>
